<h1>AWK Team -Up</h1>
<p>Welcome to the AWK Team-Up App!
  Come and join us in organizing and taking part in events, contributing to the AWK spirit.
  Feel free to either set-up your own event or just go with the flow.
  Both will be a lot of fun, trust me. 
</p>
