<h1>Find a new Team Event!</h1>
<p>As you might know, AWK aims to forge people together and give them
the opportunity to organise events outside of working hours.
On this app you can either find the next event you would like to take part in, or,
even better, add another event you would like to organise yourself!</p>
